@import 'fonts';
@import 'vars';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: $font-main;
  font-size: 16px;
  line-height: 18px;
  color: $color-text-grey;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

footer {
  flex-shrink: 0;
}

a {
  display: inline-block;
  outline: none;
  text-decoration: none;
  color: $color-main-black;
}

address {
  text-align: center;
}

.main {
  margin: 1rem 0;
}

.container {
  padding: 0 20px;
  max-width: 100%;
}

.section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* breadcrumbs */
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  &__item {
    margin-right: .5rem;
    font-family: $font-main-medium;
    font-size: 0.9rem;
    line-height: 1.3rem;
    a::after {
      content: "\003E";
      margin-left: .5rem;
    }
    &_active {
      font-family: $font-main;
    }
  }
}

.button {
  display: inline-flex;
  justify-content: center;
  //height: 3rem;
  font-family: $font-main-medium;
  font-size: 1rem;
  line-height: 1.3rem;
  color: $color-main-black;
  padding: .7rem 1rem;
  text-align: center;
  border-radius: 0.5rem;
  border: none;
  background: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  &_alternate {
    border: 1px solid $color-dark-grey;
  }
  &_colored {
    background-color: $color-main-brown;
    color: $color-main-white;
  }
  &_shadowed {
    box-shadow: 2px 2px 8px 1px $color-main-grey;
  }
  &_margined {
    margin-right: auto;
  }
  &_shadowed:hover {
    box-shadow: 0 0 6px 2px $color-main-grey;
    cursor: pointer;
  }
}

.btn-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.btn-address-container {
  flex-direction: column;
  .page-description {
    margin-top: .8rem;
  }
}


/* custom select */

.select {
  position: relative;
  width: 100%;
  padding: 1rem 0;
  select {
    display: none;
  }
  &_selected {
    padding: .6rem .8rem;
    height: 2.5rem;
    border-radius: .3rem;
    border: 1px solid $color-main-grey;
    background-color: $color-main-white;
    color: $color-text-grey;
    font-size: 1rem;
    line-height: 1.2;
  }
  &_selected::after {
    content: '';
    width: 0.75rem;
    height: 0.75rem;
    color: #0277bd;
    background-size: cover;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" height="100" width="100" class="svg-inline--fa fa-check fa-w-16" data-icon="check" data-prefix="fas" aria-hidden="true"%3E%3Cpath d="M33.964 85.547l-32.5-32.251a4.935 4.935 0 010-7.017l7.071-7.017a5.027 5.027 0 017.071 0L37.5 60.987l46.894-46.534a5.028 5.028 0 017.07 0l7.072 7.017a4.935 4.935 0 010 7.017l-57.5 57.06a5.027 5.027 0 01-7.072 0z" fill="%230277bd"/%3E%3C/svg%3E');
  }

  &_selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }

  &_items {
    position: absolute;
    border-radius: .3rem;
    border: 1px solid $color-main-grey;
    background-color: $color-main-white;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }

  &_items div, &_selected {
    color: $color-text-grey;
    font-size: 1rem;
    line-height: 1.2;
    padding: .6rem .8rem;
    cursor: pointer;
  }

  &_hide {
    display: none;
  }
  &_items div:hover, .selected-item {
    background-color: rgba(0, 0, 0, 0.1);
  }

}


  /* form */

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-container {
    padding: .8rem;
  }

  .form-group {
    width: 90%;
    margin-bottom: .8rem;
    display: inline-flex;
    flex-direction: column;
    &__label {
      font-family: $font-main-medium;
      font-size: .9rem;
      line-height: 1.2rem;
      margin-bottom: .3rem;
    }
    &__input {
      margin-bottom: 1rem;
    }
    input {
      width: 100%;
      padding: .6rem .8rem;
      height: 2.5rem;
      border-radius: .3rem;
      border: 1px solid $color-main-grey;
      background-color: $color-main-white;
      color: $color-text-grey;
      font-size: 1rem;
      line-height: 1.2;
      outline: none;
    }
    input.error {
      border-color: $color-main-red;
    }
    &__status {
      font-family: $font-main-light;
      font-size: .8rem;
      line-height: 1rem;
      margin-bottom: .25rem;
    }
    &__status.error  {
      color: $color-main-red;
    }
  }

  .form-group-checkbox {
    display: flex;
    margin: 1rem auto;
    &__label {
      font-family: $font-main-medium;
      font-size: .9rem;
      line-height: 1.2rem;
    }
    input {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }
    input+label {
      display: inline-flex;
      align-items: center;
      user-select: none;
    }
    input+label::before {
      content: '';
      display: inline-block;
      width: 1.4rem;
      height: 1.4rem;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid $color-dark-grey;
      border-radius: 0.25rem;
      margin-right: 0.5rem;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
    }
    input:checked+label::before {
      border-color: $color-main-brown;
      background-color: $color-main-brown;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    }
    input:not(:disabled):not(:checked)+label:hover::before {
      border-color: $color-main-brown;
    }
    input:not(:disabled):active+label::before {
      background-color: $color-main-brown;
      border-color: $color-main-brown;
    }
    input:focus+label::before {
      box-shadow: 0 0 0 0.1rem $color-main-brown;
    }
    input:focus:not(:checked)+label::before {
      border-color: $color-main-brown;
    }
    input:disabled+label::before {
      background-color: $color-dark-grey;
    }
  }

  .error-message {
    font-family: $font-main;
    font-size: .8rem;
    line-height: 1rem;
    text-align: center;
    width: 90%;
    margin: 0 auto .35rem;
    color: $color-main-red;
  }

.status-message {
  font-family: $font-main;
  font-size: .8rem;
  line-height: 1rem;
  text-align: center;
  width: 90%;
  margin: 0 auto .85rem;
  color: $color-main-green;
}

.status-online {
  font-family: $font-main;
  color: $color-main-green;
}

.status-not-online {
  font-family: $font-main;
  color: $color-text-grey;
}

  .forgot-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .8rem;
    &__text {
      font-family: $font-main-medium;
      font-size: .9rem;
      line-height: 1.2rem;
      margin-bottom: .6rem;
    }
  }


/* custom file input */

.file-input {
  font-family: $font-main-medium;
  font-size: 1rem;
  line-height: 1.3rem;
  color: $color-main-black;
  &__label {
    height: 2.6rem;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    display: block;
    transition: all 0.18s ease-in-out;
    border: 1px solid $color-main-grey;
    color: $color-main-grey;
  }
  &__label:hover {
    color: $color-main-white;
    background: $color-main-grey;
  }
  input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
}


 /* photo preview */

.photo-preview {
  img {
    width: 100%;
  }
}

  /* modal window */

  .modal {
    position: fixed;
    background-color: rgba(196, 196, 196, 0.8);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    &__window {
      width: 90vw;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 2rem 2.5rem;
      background: $color-main-white;
      border-radius: 0.5rem;
    }
    &__close-wrapper {
      min-height: 1.5rem;
    }
    &__close-btn {
      width:40px;
      height: 40px;
      border: none;
      background: none;
      position: absolute;
      right: 20px;
      top: 20px;
      &::before, &::after {
        content: "";
        width: 2px;
        height: 28px;
        background-color: $color-main-black;
        position: absolute;
        top: 7px;
        left: 19px;
      }
      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
    }
    &__body {
      min-height: 2rem;
    }
    &__message {
      font-size: 1.1rem;
      line-height: 1.4rem;
      margin-bottom: .5rem;
    }
  }


  /* card */

.card-box {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
}

.card {
  font-family: $font-main-medium;
  font-size: 1rem;
  line-height: 1.2rem;
  display: flex;
  flex-direction: column;
  padding: .8rem 1rem;
  border: 1px solid $color-main-brown;
  border-radius: .5rem;
  &__item {
    display: flex;
    margin-bottom: .5rem;
    padding: .2rem .4rem;
    color: $color-text-grey;
    align-items: baseline;
    &-title {
      font-size: .9rem;
      margin-right: 1rem;
    }
    &-content {
      color: $color-main-black;
    }
    &-label {
      font-size: 1rem;
      margin-right: 1rem;
      i {
        color: $color-main-brown;
      }
    }
    &-text {
      font-size: .9rem;
    }
    &_column {
      flex-direction: column;
    }
    &_column &-title {
      margin-right: 0;
      margin-bottom: .3rem;
    }
    &_centered {
      align-items: center;
    }
    &_hr-top {
      border-top: 1px solid $color-main-brown;
      padding-top: 0.4rem;
    }
    &_hr-bottom {
      border-bottom: 1px solid $color-main-brown;
      padding-bottom: 0.4rem;
    }
  }
  &__item:last-child {
    margin-bottom: 0;
  }

  &__form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    &-label {
      font-family: $font-main-medium;
      font-size: .9rem;
      line-height: 1.2rem;
      margin-bottom: .3rem;
    }
    &-input {
      display: flex;
      margin-bottom: 1rem;
    }
    input, textarea {
      flex-basis: 100%;
      padding: .6rem .8rem;
      height: 2.5rem;
      border-radius: .3rem;
      border: 1px solid $color-main-grey;
      background-color: $color-main-white;
      font-family: $font-main-medium;
      color: $color-text-grey;
      font-size: 1rem;
      line-height: 1.2;
      outline: none;
    }
    textarea {
      resize: none;
      height: 5rem;
    }
    input.error {
      border-color: $color-main-red;
    }
    .select {
      padding: 0;
      margin-bottom: 1rem;
    }
  }
  &__file-input {
    flex: 1 2 65%;
    display: flex;
    flex-direction: column;
    .card__item-title {
      text-align: center;
    }
  }
  .form-group-checkbox {
    flex-direction: column;
  }
  .form-group-checkbox input + label {
    margin-bottom: 1rem;
  }
  &_mb {
    margin-bottom: 1rem;
  }
  &-invisible {
    visibility: hidden;
    height: 0;
    overflow: hidden;
    pointer-events: none;
  }
}


/* masters cards */

.master-card {
  padding: .6rem 1rem;
  //margin-bottom: 1rem;
  .page-header {
    color: $color-main-black;
  }
  .responses__text {
    color: $color-text-grey;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .6rem;
    &-title {
      color: $color-text-grey;
      font-size: .8rem;
      margin-bottom: 0.2rem;
    }
    &-content {
      color: $color-main-black;
    }
    &-label {
      color: $color-text-grey;
      font-size: 1rem;
      margin-right: 1rem;
      i {
        color: $color-main-brown;
      }
    }
    &-text {
      color: $color-text-grey;
      font-size: .9rem;
    }
  }
  &__item:last-child {
    margin-bottom: 0;
  }
  &__item_column {
    flex-direction: column;
  }
  &__item_centered {
    align-items: center;
  }
}
.card-box a:last-child .master-card{
  margin-bottom: 0;
}



/* avatar */

.avatar-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 2 35%;
  margin-right: 1rem;
  //width: 100%;
  &__status {
    font-size: .8rem;
    line-height: 1rem;
    text-align: center;
    width: 90%;
    margin: 0 auto;
  }
}

.avatar {
  //max-width: 40%;
  margin: auto;
  &__square {
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    //background-color: $color-main-brown;
  }
  &__image {
    max-width: 100%;
    border-radius: 1rem;
  }
  img {
    width: 50px;
    margin: 1rem;
  }
}


/* name block profile */

.name-box {
  flex: 1 2 65%;
  display: flex;
  flex-direction: column;
}

.stars-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  .stars {
    font-size: .8rem;
    margin-bottom: 0.1rem;
    i {
      color: $color-main-brown;
    }
  }
  .responses {
    font-size: .8rem;
  }
}


/* pagination */

.pagination-box {
  display: flex;
  justify-content: center;
  padding: 1rem .5rem;
}
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  &__item {

  }
  &__link {
    display: inline-flex;
    justify-content: center;
    font-family: $font-main-medium;
    font-size: .7rem;
    line-height: 1rem;
    //color: $color-main-black;
    padding: .3rem .6rem;
    text-align: center;
    border-radius: 0.5rem;
    cursor: pointer;
    &_colored {
      background-color: $color-main-brown;
      color: $color-main-white;
    }
    &_active {
      border: 1px solid $color-main-brown;
    }
    &_disabled {
      border: 1px solid $color-main-grey;
      color: $color-main-grey;
    }
  }
}


  .page-header {
    font-family: $font-main-bold;
    font-size: 1.3rem;
    line-height: 1.8rem;
    text-align: center;
    margin-bottom: 1rem;
    word-wrap: break-word;
  }

  .page-subheader {
    font-family: $font-main-bold;
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .page-description {
    font-family: $font-main-medium;
    font-size: 0.9rem;
    line-height: 1.2rem;
    text-align: center;
    margin-bottom: .8rem;
    padding: 0 5px;
  }

  .header {
    &__wrapper {
      min-height: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 0.5rem;
    }
  }

  .logo {
    &__link {
      font-family: $font-main-bold;
      font-size: 1.2rem;
      line-height: 1.5rem;
      //color: $color-main-black;
    }
  }

  .menu {
    &__btn {
      width:40px;
      height: 40px;
      background-color: $color-main-white;
      border: none;
      position: relative;
      &::after {
        content: "";
        width: 20px;
        height: 2px;
        background-color: $color-main-black;
        position: absolute;
        top: 14px;
        left: 10px;
        box-shadow: 0 6px 0 0 $color-main-black, 0 12px 0 0 $color-main-black;
      }
    }
    &__nav {
      display: none;
      flex-direction: column;
      align-items: end;
    }
    &-box:first-child {
      padding: 1rem 0 .5rem;
    }
    &-box:last-child {
      padding: .5rem 0 1rem;
      border-top: 1px solid $color-main-brown;
    }
    &__item {
      padding: .1rem .2rem;
    }
    &__item:hover &__link {
      color: $color-main-black;
    }
    &__item:not(:last-child) {
      margin-right: .5rem;
    }
    &__link {
      font-family: $font-main-bold;
      font-size: .8rem;
      color: $color-text-grey;
    }
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, .9);
    transform: translateX(-100vw);
    transition: transform 200ms ease-in-out;
    &[data-open] {
      transform: translateX(0);
    }
    &__btn-wrapper {
      min-height: 80px;
      margin-bottom: .8rem;
    }
    &__btn {
      width:40px;
      height: 40px;
      border: none;
      background: none;
      position: absolute;
      right: 20px;
      top: 20px;
      &::before, &::after {
        content: "";
        width: 2px;
        height: 28px;
        background-color: $color-main-black;
        position: absolute;
        top: 7px;
        left: 19px;
      }
      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
    }
    &__nav {
      text-align: center;
    }
    &__item {
      font-size: 1.5rem;
      line-height: 1.8rem;
      margin-bottom: .7rem;
      padding: .5rem;
    }
    &__link {
      width: 100%;
      font-family: $font-main-medium;
      color: $color-text-grey;
    }
  }


  /* footer */

  .footer {
    background-color: $color-dark-brown;
    color: $color-main-white;
    &__nav {
      padding: 20px 0;
      text-align: center;
      li {
        font-size: 1.2rem;
        line-height: 1.5rem;
        margin-bottom: 0.6rem;
        a {
          width: 100%;
          color: $color-main-white;
        }
      }
    }
    &__hr {
      height: 2px;
      width: 60%;
      background-color: $color-main-white;
      margin: 14px auto;
    }
    &__contacts {
      text-align: center;
      padding: 20px 0;
    }
  }

  //.socials {
  //  display: flex;
  //  flex: 30%;
  //  flex-direction: row;
  //  flex-wrap: nowrap;
  //  justify-content: space-around;
  //  align-items: center;
  //  margin: 0 10px 24px;
  //  &__link {
  //    color: $color-main-white;
  //    border: 1px solid $color-main-white;
  //    border-radius: 5px;
  //    width: 2.1rem;
  //    height: 2.1rem;
  //    font-size: 1rem;
  //    line-height: 2rem;
  //  }
  //}

  .phone {
    &__link {
      color: $color-main-white;
      margin-bottom: 10px;
    }
  }


  /* home page */

  .intro {

  }

  .categories {

  }

  .accordion-box {
    margin: 1.5rem auto;
    &__item {
      margin-bottom: .8rem;
    }
  }


  /* search page */

  .accordion {
    font-family: $font-main-medium;
    font-size: 1rem;
    line-height: 1.2rem;
    &__title {
      display: flex;
      justify-content: space-between;
      outline: none;
      padding: 1rem 1.5rem;
      border: 1px solid $color-main-brown;
      border-radius: .5rem;
      cursor: pointer;
      list-style: none;
      color: $color-main-black;
    }
    &__title::-webkit-details-marker {
      display: none;
    }
    &__text {
      padding: 1rem 2rem;
      color: $color-text-grey;
    }
    &__item {
      margin-bottom: .4rem;
      padding: .3rem 1rem;
      a {
        color: $color-text-grey;
      }
    }
  }

  .accordion[open] {
    border: 1px solid $color-main-brown;
    border-radius: .5rem;
  }

  .accordion[open] .accordion__title {
    border: none;
    padding-bottom: 0;
  }

  .accordion[open] .accordion__title:after {
    //content: url("../../assets/images/arrow-top.svg");
  }

  .accordion__title:after {
    //content: url("../../assets/images/arrow-bottom.svg");
  }