$font-main: Roboto, sans-serif;
$font-main-light: Roboto-Light, sans-serif;
$font-main-medium: Roboto-Medium, sans-serif;
$font-main-bold: Roboto-Bold, sans-serif;
$color-main-black: #000;
$color-main-white: #fff;
$color-main-grey: #d9dadf;
$color-dark-grey: #757070;
$color-text-grey: #4a4a4a;
$color-main-brown: #d2a679;
$color-dark-brown: #996633;
$color-main-red: #f03d3e;
$color-main-green: #199946;