body {
  min-width: 320px;
  overflow-x: hidden;
  font-size: 16px;
  line-height: 18px;
  color: black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

footer {
  flex-shrink: 0;
}

a {
  display: inline-block;
  outline: none;
  text-decoration: none;
}

.main {
  margin: 1rem 0;
}

.container {
  padding: 0 20px;
}
