@font-face {
  font-family: "Roboto-Light";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto-Light"), url(/fonts/Roboto-Light.woff2?7c46e842233e7968d5dad3ed0d3d5313) format("woff2"), url(/fonts/Roboto-Light.woff?7edb5c1283fd64425d81816ae66963e5) format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto-Regular"), url(/fonts/Roboto-Regular.woff2?6da80660b317a900aa44c9f6b559cd80) format("woff2"), url(/fonts/Roboto-Regular.woff?d535d388dc916299d0838b96e7cc3db4) format("woff");
}
@font-face {
  font-family: "Roboto-Medium";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto-Medium"), url(/fonts/Roboto-Medium.woff2?7d2a7d7644dad6b39474a5a0f8b93759) format("woff2"), url(/fonts/Roboto-Medium.woff?44f0515c8c7c844e3e2db0a78afcd894) format("woff");
}
@font-face {
  font-family: "Roboto-Bold";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto-Bold"), url(/fonts/Roboto-Bold.woff2?0c4c7fc6d9f439815c3bf42b75e3b3e5) format("woff2"), url(/fonts/Roboto-Bold.woff?00f54dcb163757355b2d682e16b44799) format("woff");
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #4a4a4a;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

footer {
  flex-shrink: 0;
}

a {
  display: inline-block;
  outline: none;
  text-decoration: none;
  color: #000;
}

address {
  text-align: center;
}

.main {
  margin: 1rem 0;
}

.container {
  padding: 0 20px;
  max-width: 100%;
}

.section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* breadcrumbs */
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
}
.breadcrumbs__item {
  margin-right: 0.5rem;
  font-family: Roboto-Medium, sans-serif;
  font-size: 0.9rem;
  line-height: 1.3rem;
}
.breadcrumbs__item a::after {
  content: ">";
  margin-left: 0.5rem;
}
.breadcrumbs__item_active {
  font-family: Roboto, sans-serif;
}

.button {
  display: inline-flex;
  justify-content: center;
  font-family: Roboto-Medium, sans-serif;
  font-size: 1rem;
  line-height: 1.3rem;
  color: #000;
  padding: 0.7rem 1rem;
  text-align: center;
  border-radius: 0.5rem;
  border: none;
  background: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
}
.button_alternate {
  border: 1px solid #757070;
}
.button_colored {
  background-color: #d2a679;
  color: #fff;
}
.button_shadowed {
  box-shadow: 2px 2px 8px 1px #d9dadf;
}
.button_margined {
  margin-right: auto;
}
.button_shadowed:hover {
  box-shadow: 0 0 6px 2px #d9dadf;
  cursor: pointer;
}

.btn-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.btn-address-container {
  flex-direction: column;
}
.btn-address-container .page-description {
  margin-top: 0.8rem;
}

/* custom select */
.select {
  position: relative;
  width: 100%;
  padding: 1rem 0;
}
.select select {
  display: none;
}
.select_selected {
  padding: 0.6rem 0.8rem;
  height: 2.5rem;
  border-radius: 0.3rem;
  border: 1px solid #d9dadf;
  background-color: #fff;
  color: #4a4a4a;
  font-size: 1rem;
  line-height: 1.2;
}
.select_selected::after {
  content: "";
  width: 0.75rem;
  height: 0.75rem;
  color: #0277bd;
  background-size: cover;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" height="100" width="100" class="svg-inline--fa fa-check fa-w-16" data-icon="check" data-prefix="fas" aria-hidden="true"%3E%3Cpath d="M33.964 85.547l-32.5-32.251a4.935 4.935 0 010-7.017l7.071-7.017a5.027 5.027 0 017.071 0L37.5 60.987l46.894-46.534a5.028 5.028 0 017.07 0l7.072 7.017a4.935 4.935 0 010 7.017l-57.5 57.06a5.027 5.027 0 01-7.072 0z" fill="%230277bd"/%3E%3C/svg%3E');
}
.select_selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}
.select_items {
  position: absolute;
  border-radius: 0.3rem;
  border: 1px solid #d9dadf;
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
.select_items div, .select_selected {
  color: #4a4a4a;
  font-size: 1rem;
  line-height: 1.2;
  padding: 0.6rem 0.8rem;
  cursor: pointer;
}
.select_hide {
  display: none;
}
.select_items div:hover, .select .selected-item {
  background-color: rgba(0, 0, 0, 0.1);
}

/* form */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  padding: 0.8rem;
}

.form-group {
  width: 90%;
  margin-bottom: 0.8rem;
  display: inline-flex;
  flex-direction: column;
}
.form-group__label {
  font-family: Roboto-Medium, sans-serif;
  font-size: 0.9rem;
  line-height: 1.2rem;
  margin-bottom: 0.3rem;
}
.form-group__input {
  margin-bottom: 1rem;
}
.form-group input {
  width: 100%;
  padding: 0.6rem 0.8rem;
  height: 2.5rem;
  border-radius: 0.3rem;
  border: 1px solid #d9dadf;
  background-color: #fff;
  color: #4a4a4a;
  font-size: 1rem;
  line-height: 1.2;
  outline: none;
}
.form-group input.error {
  border-color: #f03d3e;
}
.form-group__status {
  font-family: Roboto-Light, sans-serif;
  font-size: 0.8rem;
  line-height: 1rem;
  margin-bottom: 0.25rem;
}
.form-group__status.error {
  color: #f03d3e;
}

.form-group-checkbox {
  display: flex;
  margin: 1rem auto;
}
.form-group-checkbox__label {
  font-family: Roboto-Medium, sans-serif;
  font-size: 0.9rem;
  line-height: 1.2rem;
}
.form-group-checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.form-group-checkbox input + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.form-group-checkbox input + label::before {
  content: "";
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #757070;
  border-radius: 0.25rem;
  margin-right: 0.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.form-group-checkbox input:checked + label::before {
  border-color: #d2a679;
  background-color: #d2a679;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.form-group-checkbox input:not(:disabled):not(:checked) + label:hover::before {
  border-color: #d2a679;
}
.form-group-checkbox input:not(:disabled):active + label::before {
  background-color: #d2a679;
  border-color: #d2a679;
}
.form-group-checkbox input:focus + label::before {
  box-shadow: 0 0 0 0.1rem #d2a679;
}
.form-group-checkbox input:focus:not(:checked) + label::before {
  border-color: #d2a679;
}
.form-group-checkbox input:disabled + label::before {
  background-color: #757070;
}

.error-message {
  font-family: Roboto, sans-serif;
  font-size: 0.8rem;
  line-height: 1rem;
  text-align: center;
  width: 90%;
  margin: 0 auto 0.35rem;
  color: #f03d3e;
}

.status-message {
  font-family: Roboto, sans-serif;
  font-size: 0.8rem;
  line-height: 1rem;
  text-align: center;
  width: 90%;
  margin: 0 auto 0.85rem;
  color: #199946;
}

.status-online {
  font-family: Roboto, sans-serif;
  color: #199946;
}

.status-not-online {
  font-family: Roboto, sans-serif;
  color: #4a4a4a;
}

.forgot-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.8rem;
}
.forgot-password__text {
  font-family: Roboto-Medium, sans-serif;
  font-size: 0.9rem;
  line-height: 1.2rem;
  margin-bottom: 0.6rem;
}

/* custom file input */
.file-input {
  font-family: Roboto-Medium, sans-serif;
  font-size: 1rem;
  line-height: 1.3rem;
  color: #000;
}
.file-input__label {
  height: 2.6rem;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  display: block;
  transition: all 0.18s ease-in-out;
  border: 1px solid #d9dadf;
  color: #d9dadf;
}
.file-input__label:hover {
  color: #fff;
  background: #d9dadf;
}
.file-input input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

/* photo preview */
.photo-preview img {
  width: 100%;
}

/* modal window */
.modal {
  position: fixed;
  background-color: rgba(196, 196, 196, 0.8);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
}
.modal__window {
  width: 90vw;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem 2.5rem;
  background: #fff;
  border-radius: 0.5rem;
}
.modal__close-wrapper {
  min-height: 1.5rem;
}
.modal__close-btn {
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  position: absolute;
  right: 20px;
  top: 20px;
}
.modal__close-btn::before, .modal__close-btn::after {
  content: "";
  width: 2px;
  height: 28px;
  background-color: #000;
  position: absolute;
  top: 7px;
  left: 19px;
}
.modal__close-btn::before {
  transform: rotate(45deg);
}
.modal__close-btn::after {
  transform: rotate(-45deg);
}
.modal__body {
  min-height: 2rem;
}
.modal__message {
  font-size: 1.1rem;
  line-height: 1.4rem;
  margin-bottom: 0.5rem;
}

/* sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  padding: 0.8rem 1rem;
  border: 1px solid #d2a679;
  border-radius: 0.5rem;
}
.sidebar-widget:not(:last-child) {
  margin-bottom: 0.8rem;
}
.sidebar-widget {
  font-family: Roboto-Medium, sans-serif;
  font-size: 1rem;
  line-height: 1.2rem;
}
.sidebar-widget__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: none;
  padding: 0.5rem 0.4rem;
  border-bottom: 1px solid #d2a679;
  cursor: pointer;
  list-style: none;
  color: #000;
}
.sidebar-widget__title-icon {
  display: inline-block;
  color: #000;
  width: 1rem;
  height: 1rem;
}
.sidebar-widget__title::-webkit-details-marker {
  display: none;
}
.sidebar-widget__content {
  padding: 0.6rem 0.8rem 0.4rem;
}
.sidebar-widget__item {
  margin-bottom: 0.4rem;
  padding: 0.3rem 0.6rem;
}
.sidebar-widget__item a {
  font-size: 0.9rem;
  color: #4a4a4a;
}
.sidebar-widget__item:last-child {
  margin-bottom: 0;
}
.sidebar-widget[open] .sidebar-widget__title-icon {
  transform: rotate(180deg);
}

/* card */
.card-box {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
}

.card {
  font-family: Roboto-Medium, sans-serif;
  font-size: 1rem;
  line-height: 1.2rem;
  display: flex;
  flex-direction: column;
  padding: 0.8rem 1rem;
  border: 1px solid #d2a679;
  border-radius: 0.5rem;
}
.card__item {
  display: flex;
  margin-bottom: 0.5rem;
  padding: 0.2rem 0.4rem;
  color: #4a4a4a;
  align-items: baseline;
}
.card__item-title {
  font-size: 0.9rem;
  margin-right: 1rem;
}
.card__item-content {
  color: #000;
}
.card__item-label {
  font-size: 1rem;
  margin-right: 1rem;
}
.card__item-label i {
  color: #d2a679;
}
.card__item-text {
  font-size: 0.9rem;
}
.card__item_column {
  flex-direction: column;
}
.card__item_column .card__item-title {
  margin-right: 0;
  margin-bottom: 0.3rem;
}
.card__item_centered {
  align-items: center;
}
.card__item_hr-top {
  border-top: 1px solid #d2a679;
  padding-top: 0.4rem;
}
.card__item_hr-bottom {
  border-bottom: 1px solid #d2a679;
  padding-bottom: 0.4rem;
}
.card__item:last-child {
  margin-bottom: 0;
}
.card__form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.card__form-group-label {
  font-family: Roboto-Medium, sans-serif;
  font-size: 0.9rem;
  line-height: 1.2rem;
  margin-bottom: 0.3rem;
}
.card__form-group-input {
  display: flex;
  margin-bottom: 1rem;
}
.card__form-group input, .card__form-group textarea {
  flex-basis: 100%;
  padding: 0.6rem 0.8rem;
  height: 2.5rem;
  border-radius: 0.3rem;
  border: 1px solid #d9dadf;
  background-color: #fff;
  font-family: Roboto-Medium, sans-serif;
  color: #4a4a4a;
  font-size: 1rem;
  line-height: 1.2;
  outline: none;
}
.card__form-group textarea {
  resize: none;
  height: 5rem;
}
.card__form-group input.error {
  border-color: #f03d3e;
}
.card__form-group .select {
  padding: 0;
  margin-bottom: 1rem;
}
.card__file-input {
  flex: 1 2 65%;
  display: flex;
  flex-direction: column;
}
.card__file-input .card__item-title {
  text-align: center;
}
.card .form-group-checkbox {
  flex-direction: column;
}
.card .form-group-checkbox input + label {
  margin-bottom: 1rem;
}
.card_mb {
  margin-bottom: 1rem;
}
.card-invisible {
  visibility: hidden;
  height: 0;
  overflow: hidden;
  pointer-events: none;
}

/* post */
.post {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.post__item {
  display: flex;
  margin-bottom: 1rem;
  padding: 0.2rem 0.4rem;
  color: #4a4a4a;
  align-items: baseline;
}
.post__item_centered {
  align-items: center;
}
.post-title {
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.post-meta {
  justify-content: space-between;
  flex-wrap: wrap;
  border-top: 1px solid #d2a679;
  border-bottom: 1px solid #d2a679;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
.post-meta__item span {
  font-size: 0.8rem;
}
.post-meta__item:not(:last-child) {
  flex-basis: 50%;
  margin-bottom: 0.3rem;
}
.post-description {
  font-family: Roboto-Medium, sans-serif;
  font-size: 0.8rem;
  text-indent: 1rem;
}
.post-content {
  font-size: 0.9rem;
  text-indent: 1rem;
}
.post-author {
  border-top: 1px solid #d2a679;
  border-bottom: 1px solid #d2a679;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

/* posts cards */
.post-card__title {
  color: #000;
}
.post-card__description {
  font-size: 0.8rem;
}
.post-card-meta {
  justify-content: space-between;
  flex-wrap: wrap;
  border-top: 1px solid #d2a679;
  border-bottom: 1px solid #d2a679;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
.post-card-meta__item span {
  font-size: 0.7rem;
}
.post-card-meta__item:not(:last-child) {
  flex-basis: 50%;
  margin-bottom: 0.3rem;
}

/* masters cards */
.master-card {
  padding: 0.6rem 1rem;
}
.master-card .page-header {
  color: #000;
}
.master-card .responses__text {
  color: #4a4a4a;
}
.master-card__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.6rem;
}
.master-card__item-title {
  color: #4a4a4a;
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
}
.master-card__item-content {
  color: #000;
}
.master-card__item-label {
  color: #4a4a4a;
  font-size: 1rem;
  margin-right: 1rem;
}
.master-card__item-label i {
  color: #d2a679;
}
.master-card__item-text {
  color: #4a4a4a;
  font-size: 0.9rem;
}
.master-card__item:last-child {
  margin-bottom: 0;
}
.master-card__item_column {
  flex-direction: column;
}
.master-card__item_centered {
  align-items: center;
}

.card-box a:last-child .master-card {
  margin-bottom: 0;
}

/* avatar */
.avatar-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 2 35%;
  margin-right: 1rem;
}
.avatar-box__status {
  font-size: 0.8rem;
  line-height: 1rem;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.avatar {
  margin: auto;
}
.avatar__square {
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.avatar__image {
  max-width: 100%;
  border-radius: 1rem;
}
.avatar img {
  width: 50px;
  margin: 1rem;
}

/* name block profile */
.name-box {
  flex: 1 2 65%;
  display: flex;
  flex-direction: column;
}

.name-header {
  font-family: Roboto-Bold, sans-serif;
  font-size: 1rem;
  line-height: 1.3rem;
  text-align: center;
  margin-bottom: 0.6rem;
  word-wrap: break-word;
}

.stars-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stars-box .stars {
  font-size: 0.8rem;
  margin-bottom: 0.1rem;
}
.stars-box .stars i {
  color: #d2a679;
}
.stars-box .responses {
  font-size: 0.8rem;
}

/* pagination */
.pagination-box {
  display: flex;
  justify-content: center;
  padding: 1rem 0.5rem;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
}
.pagination__link {
  display: inline-flex;
  justify-content: center;
  font-family: Roboto-Medium, sans-serif;
  font-size: 0.7rem;
  line-height: 1rem;
  padding: 0.3rem 0.6rem;
  text-align: center;
  border-radius: 0.5rem;
  cursor: pointer;
}
.pagination__link_colored {
  background-color: #d2a679;
  color: #fff;
}
.pagination__link_active {
  border: 1px solid #d2a679;
}
.pagination__link_disabled {
  border: 1px solid #d9dadf;
  color: #d9dadf;
}

.page-header {
  font-family: Roboto-Bold, sans-serif;
  font-size: 1.3rem;
  line-height: 1.8rem;
  text-align: center;
  margin-bottom: 1rem;
  word-wrap: break-word;
}

.page-subheader {
  font-family: Roboto-Bold, sans-serif;
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.page-description {
  font-family: Roboto-Medium, sans-serif;
  font-size: 0.9rem;
  line-height: 1.2rem;
  text-align: center;
  margin-bottom: 0.8rem;
  padding: 0 5px;
}

.header__wrapper {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}

.logo__link {
  font-family: Roboto-Bold, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.menu__btn {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: none;
  position: relative;
}
.menu__btn::after {
  content: "";
  width: 20px;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 14px;
  left: 10px;
  box-shadow: 0 6px 0 0 #000, 0 12px 0 0 #000;
}
.menu__nav {
  display: none;
  flex-direction: column;
  align-items: end;
}
.menu-box:first-child {
  padding: 1rem 0 0.5rem;
}
.menu-box:last-child {
  padding: 0.5rem 0 1rem;
  border-top: 1px solid #d2a679;
}
.menu__item {
  padding: 0.1rem 0.2rem;
}
.menu__item:hover .menu__link {
  color: #000;
}
.menu__item:not(:last-child) {
  margin-right: 0.5rem;
}
.menu__link {
  font-family: Roboto-Bold, sans-serif;
  font-size: 0.8rem;
  color: #4a4a4a;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.9);
  transform: translateX(-100vw);
  transition: transform 200ms ease-in-out;
}
.mobile-menu[data-open] {
  transform: translateX(0);
}
.mobile-menu__btn-wrapper {
  min-height: 80px;
  margin-bottom: 0.8rem;
}
.mobile-menu__btn {
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  position: absolute;
  right: 20px;
  top: 20px;
}
.mobile-menu__btn::before, .mobile-menu__btn::after {
  content: "";
  width: 2px;
  height: 28px;
  background-color: #000;
  position: absolute;
  top: 7px;
  left: 19px;
}
.mobile-menu__btn::before {
  transform: rotate(45deg);
}
.mobile-menu__btn::after {
  transform: rotate(-45deg);
}
.mobile-menu__nav {
  text-align: center;
}
.mobile-menu__item {
  font-size: 1.5rem;
  line-height: 1.8rem;
  margin-bottom: 0.7rem;
  padding: 0.5rem;
}
.mobile-menu__link {
  width: 100%;
  font-family: Roboto-Medium, sans-serif;
  color: #4a4a4a;
}

/* footer */
.footer {
  background-color: #996633;
  color: #fff;
}
.footer__nav {
  padding: 20px 0;
  text-align: center;
}
.footer__nav li {
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-bottom: 0.6rem;
}
.footer__nav li a {
  width: 100%;
  color: #fff;
}
.footer__hr {
  height: 2px;
  width: 60%;
  background-color: #fff;
  margin: 14px auto;
}
.footer__contacts {
  text-align: center;
  padding: 20px 0;
}
.footer__copyright {
  font-size: 0.7rem;
}

.phone__link {
  color: #fff;
  margin-bottom: 10px;
}

/* home page */
.accordion-box {
  margin: 1.5rem auto;
}
.accordion-box__item {
  margin-bottom: 0.8rem;
}

/* search page */
.accordion {
  font-family: Roboto-Medium, sans-serif;
  font-size: 1rem;
  line-height: 1.2rem;
}
.accordion__title {
  display: flex;
  justify-content: space-between;
  outline: none;
  padding: 1rem 1.5rem;
  border: 1px solid #d2a679;
  border-radius: 0.5rem;
  cursor: pointer;
  list-style: none;
  color: #000;
}
.accordion__title::-webkit-details-marker {
  display: none;
}
.accordion__text {
  padding: 1rem 2rem;
  color: #4a4a4a;
}
.accordion__item {
  margin-bottom: 0.4rem;
  padding: 0.3rem 1rem;
}
.accordion__item a {
  color: #4a4a4a;
}

.accordion[open] {
  border: 1px solid #d2a679;
  border-radius: 0.5rem;
}

.accordion[open] .accordion__title {
  border: none;
  padding-bottom: 0;
}
