@font-face {
  font-family: "Roboto-Light";
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/Roboto-Light.woff2?7c46e842233e7968d5dad3ed0d3d5313) format("woff2"), url(/fonts/Roboto-Light.woff?7edb5c1283fd64425d81816ae66963e5) format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Roboto-Regular.woff2?6da80660b317a900aa44c9f6b559cd80) format("woff2"), url(/fonts/Roboto-Regular.woff?d535d388dc916299d0838b96e7cc3db4) format("woff");
}
@font-face {
  font-family: "Roboto-Medium";
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/Roboto-Medium.woff2?7d2a7d7644dad6b39474a5a0f8b93759) format("woff2"), url(/fonts/Roboto-Medium.woff?44f0515c8c7c844e3e2db0a78afcd894) format("woff");
}
@font-face {
  font-family: "Roboto-Bold";
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/Roboto-Bold.woff2?0c4c7fc6d9f439815c3bf42b75e3b3e5) format("woff2"), url(/fonts/Roboto-Bold.woff?00f54dcb163757355b2d682e16b44799) format("woff");
}
body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #4a4a4a;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

footer {
  flex-shrink: 0;
}

a {
  display: inline-block;
  outline: none;
  text-decoration: none;
}

.main {
  margin: 1rem 0;
}

.container {
  padding: 0 20px;
}

.section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.button {
  display: inline-flex;
  justify-content: center;
  font-family: Roboto-Medium, sans-serif;
  font-size: 1rem;
  line-height: 1.3rem;
  color: #000;
  padding: 0.7rem 1rem;
  text-align: center;
  border-radius: 0.5rem;
  border: none;
  background: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
}
.button_alternate {
  border: 1px solid #757070;
}
.button_colored {
  background-color: #d2a679;
  color: #fff;
}
.button_shadowed {
  box-shadow: 2px 2px 8px 1px #d9dadf;
}
.button_margined {
  margin-right: auto;
}
.button_shadowed:hover {
  box-shadow: 0 0 6px 2px #d9dadf;
  cursor: pointer;
}

.btn-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

/* custom select */
.select {
  position: relative;
  width: 100%;
  padding: 1rem 0.2rem;
}
.select__toggle {
  display: flex;
  background-color: #fff;
  border: 1px solid #d9dadf;
  border-radius: 0.3125rem;
  cursor: pointer;
  align-items: center;
  width: 100%;
  font-size: 1rem;
  padding: 0.375rem 0.75rem;
  line-height: 1.4;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  justify-content: space-between;
}
.select__toggle::after {
  content: "";
  width: 0.75rem;
  height: 0.75rem;
  background-size: cover;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" height="100" width="100"%3E%3Cpath d="M97.625 25.3l-4.813-4.89c-1.668-1.606-3.616-2.41-5.84-2.41-2.27 0-4.194.804-5.777 2.41L50 52.087 18.806 20.412C17.223 18.805 15.298 18 13.03 18c-2.225 0-4.172.804-5.84 2.41l-4.75 4.89C.813 26.95 0 28.927 0 31.23c0 2.346.814 4.301 2.439 5.865l41.784 42.428C45.764 81.174 47.689 82 50 82c2.268 0 4.215-.826 5.84-2.476l41.784-42.428c1.584-1.608 2.376-3.563 2.376-5.865 0-2.26-.792-4.236-2.375-5.932z"/%3E%3C/svg%3E');
}
.select__toggle:focus {
  outline: none;
}
.select__dropdown {
  display: none;
  position: absolute;
  top: 2.5rem;
  left: 0;
  right: 0;
  border: 1px solid #d9dadf;
  max-height: 10rem;
  overflow-y: auto;
  border-radius: 0.3125rem;
  z-index: 2;
  background-color: #fff;
}
.select__options {
  margin: 0;
  padding: 0;
  list-style: none;
}
.select__option {
  padding: 0.375rem 0.75rem;
}
.select__option_selected {
  background-color: #e1f5fe;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.select__option_selected::after {
  content: "";
  width: 0.75rem;
  height: 0.75rem;
  color: #0277bd;
  background-size: cover;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" height="100" width="100" class="svg-inline--fa fa-check fa-w-16" data-icon="check" data-prefix="fas" aria-hidden="true"%3E%3Cpath d="M33.964 85.547l-32.5-32.251a4.935 4.935 0 010-7.017l7.071-7.017a5.027 5.027 0 017.071 0L37.5 60.987l46.894-46.534a5.028 5.028 0 017.07 0l7.072 7.017a4.935 4.935 0 010 7.017l-57.5 57.06a5.027 5.027 0 01-7.072 0z" fill="%230277bd"/%3E%3C/svg%3E');
}
.select__option:hover {
  background-color: #f5f5f5;
  cursor: pointer;
  transition: 0.2s background-color ease-in-out;
}

.select_show .select__toggle::after {
  transform: rotate(180deg);
}

.select_show .select__dropdown {
  display: block;
}

.select_show .select__backdrop {
  display: block;
}

/* form */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  padding: 0.8rem;
}

.form-group {
  width: 90%;
  margin-bottom: 0.8rem;
  display: inline-flex;
  flex-direction: column;
}
.form-group__label {
  font-family: Roboto-Medium, sans-serif;
  font-size: 0.9rem;
  line-height: 1.2rem;
  margin-bottom: 0.3rem;
}
.form-group input {
  width: 100%;
  padding: 0.6rem 0.8rem;
  height: 2.5rem;
  border-radius: 0.3rem;
  border: 1px solid #757070;
  background-color: #fff;
  box-shadow: 1px 1px 2px #757070;
  color: #4a4a4a;
  font-size: 1rem;
  line-height: 1.2;
  outline: none;
}
.form-group input.error {
  border-color: #f03d3e;
}
.form-group__status {
  font-family: Roboto-Light, sans-serif;
  font-size: 0.8rem;
  line-height: 1rem;
  margin-bottom: 0.25rem;
}
.form-group__status.error {
  color: #f03d3e;
}

.form-group-checkbox {
  display: flex;
  margin: 1rem auto;
}
.form-group-checkbox__label {
  font-family: Roboto-Medium, sans-serif;
  font-size: 0.9rem;
  line-height: 1.2rem;
}
.form-group-checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.form-group-checkbox input + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.form-group-checkbox input + label::before {
  content: "";
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #757070;
  border-radius: 0.25rem;
  margin-right: 0.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.form-group-checkbox input:checked + label::before {
  border-color: #d2a679;
  background-color: #d2a679;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.form-group-checkbox input:not(:disabled):not(:checked) + label:hover::before {
  border-color: #d2a679;
}
.form-group-checkbox input:not(:disabled):active + label::before {
  background-color: #d2a679;
  border-color: #d2a679;
}
.form-group-checkbox input:focus + label::before {
  box-shadow: 0 0 0 0.1rem #d2a679;
}
.form-group-checkbox input:focus:not(:checked) + label::before {
  border-color: #d2a679;
}
.form-group-checkbox input:disabled + label::before {
  background-color: #757070;
}

.error-message {
  font-family: Roboto, sans-serif;
  font-size: 0.8rem;
  line-height: 1rem;
  text-align: center;
  width: 90%;
  margin: 0 auto 0.35rem;
  color: #f03d3e;
}

.forgot-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.8rem;
}
.forgot-password__text {
  font-family: Roboto-Medium, sans-serif;
  font-size: 0.9rem;
  line-height: 1.2rem;
  margin-bottom: 0.6rem;
}

/* modal window */
.modal {
  position: fixed;
  background-color: rgba(196, 196, 196, 0.8);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
}
.modal__window {
  width: 90vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem 2.5rem;
  background: #fff;
  border-radius: 0.5rem;
}
.modal__close-wrapper {
  min-height: 1.5rem;
}
.modal__close-btn {
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  position: absolute;
  right: 20px;
  top: 20px;
}
.modal__close-btn::before, .modal__close-btn::after {
  content: "";
  width: 2px;
  height: 28px;
  background-color: #000;
  position: absolute;
  top: 7px;
  left: 19px;
}
.modal__close-btn::before {
  transform: rotate(45deg);
}
.modal__close-btn::after {
  transform: rotate(-45deg);
}
.modal__body {
  min-height: 2rem;
}
.modal__message {
  font-size: 1.1rem;
  line-height: 1.4rem;
  margin-bottom: 0.5rem;
}

.page-header {
  font-family: Roboto-Bold, sans-serif;
  font-size: 1.3rem;
  line-height: 1.8rem;
  text-align: center;
  margin-bottom: 1rem;
}

.page-subheader {
  font-family: Roboto-Bold, sans-serif;
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.page-description {
  font-family: Roboto-Medium, sans-serif;
  font-size: 0.9rem;
  line-height: 1.2rem;
  text-align: center;
  margin-bottom: 0.8rem;
  padding: 0 5px;
}

.header__wrapper {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__link {
  font-family: Roboto-Bold, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #000;
}

.menu__btn {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: none;
  position: relative;
}
.menu__btn::after {
  content: "";
  width: 20px;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 14px;
  left: 10px;
  box-shadow: 0 6px 0 0 #000, 0 12px 0 0 #000;
}
.menu__nav {
  display: none;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.9);
  transform: translateX(-100vw);
  transition: transform 200ms ease-in-out;
}
.mobile-menu[data-open] {
  transform: translateX(0);
}
.mobile-menu__btn-wrapper {
  min-height: 80px;
  margin-bottom: 0.8rem;
}
.mobile-menu__btn {
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  position: absolute;
  right: 20px;
  top: 20px;
}
.mobile-menu__btn::before, .mobile-menu__btn::after {
  content: "";
  width: 2px;
  height: 28px;
  background-color: #000;
  position: absolute;
  top: 7px;
  left: 19px;
}
.mobile-menu__btn::before {
  transform: rotate(45deg);
}
.mobile-menu__btn::after {
  transform: rotate(-45deg);
}
.mobile-menu__nav {
  text-align: center;
}
.mobile-menu__item {
  font-size: 1.5rem;
  line-height: 1.8rem;
  margin-bottom: 0.7rem;
  padding: 0.5rem;
}
.mobile-menu__link {
  width: 100%;
  font-family: Roboto-Medium, sans-serif;
  color: #4a4a4a;
}

/* footer */
.footer {
  background-color: #996633;
  color: #fff;
}
.footer__nav {
  padding: 20px 0;
  text-align: center;
}
.footer__nav li {
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-bottom: 0.6rem;
}
.footer__nav li a {
  width: 100%;
  color: #fff;
}
.footer__hr {
  height: 2px;
  width: 60%;
  background-color: #fff;
  margin: 14px auto;
}
.footer__contacts {
  text-align: center;
  padding: 20px 0;
}

.phone__link {
  color: #fff;
  margin-bottom: 10px;
}

/* home page */
.accordion-box {
  margin: 1.5rem auto;
}
.accordion-box__item {
  margin-bottom: 0.8rem;
}

/* search page */
.accordion {
  font-family: Roboto-Medium, sans-serif;
  font-size: 1rem;
  line-height: 1.2rem;
}
.accordion__title {
  display: flex;
  justify-content: space-between;
  outline: none;
  padding: 1rem 1.5rem;
  border: 1px solid #d2a679;
  border-radius: 0.5rem;
  cursor: pointer;
  list-style: none;
  color: #000;
}
.accordion__title::-webkit-details-marker {
  display: none;
}
.accordion__text {
  padding: 1rem 2rem;
  color: #4a4a4a;
}
.accordion__item {
  margin-bottom: 0.4rem;
  padding: 0.3rem 1rem;
}
.accordion__item a {
  color: #4a4a4a;
}

.accordion[open] {
  border: 1px solid #d2a679;
  border-radius: 0.5rem;
}

.accordion[open] .accordion__title {
  border: none;
  padding-bottom: 0;
}
